body {
  background-color: white;
  margin: 0px;
}
.restaurant-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  border: 3px solid grey;
}
.restaurant-list {
  border: 3px solid grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  list-style-type: none;
}
.restaurant-card {
  border: 3px solid grey;
  width: 200px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
  /* height: 100px; */
}

.restaurant-card img {
  width: 100%;
  height: 150px;
}
